
.footer {
  background: $color-cod-gray;
  padding: 10rem 10rem; // ex value : 12 13 ?
}

.footer__wrapper {
  background: $color-gallery;
  color: #000;
  margin: auto;
  max-height: 74.8rem;
  max-width: 119.6rem;

  @include media ('<=phone') {
    min-width: 38rem;
    min-height: 28.6rem;
  }
}

.footer__logo {
  margin-bottom: 7rem;
  margin-top: 6.2rem;
  padding-left: 7rem;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  // margin: auto;
  max-height: 64.9rem;
  max-width: 114rem;
  padding-bottom: 7rem;

  @include media ('<=phone') {
    // width: 80%;
    // margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    min-height: 24.3rem;
    min-width: 30rem;

    :only-child {
      margin-bottom: 5rem;
    }
  }
}

.footer__menu {

}

.navigation__logo__media__image {

}

.footer__menu__content {
  width: 20rem;
}

.footer__menu__title {
  border-bottom: 1.5px solid #000;
  font-family: Tinos, 'sans-serif';
  font-weight: bold;
  margin-bottom: 3.7rem;
  text-transform: uppercase;

  @include media ('<=phone') {
    width: 20rem;
  }
}

.footer__menu__list {
  display: flex;
  flex-direction: column;
}

.footer__menu__list__link {
  margin-bottom: 1rem;
  max-width: 21.5rem;
  max-height: 3.5rem;

  @include media ('<=phone') {
    font-size: 2rem;
  }
}

.footer__support {

}

.footer__socials {
  width: 30rem;
}

.footer__menu__list__social {
  display: flex;
}

.footer__menu__list__link__social {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;

  img {
    width: 3rem;
    height: 3rem;
  }

}

