.navigation {

}

.navigation__wrapper {
  @extend %mg-40;

}

.navigation__content {
  display: flex;
  align-items: flex-end;
  padding-top: 2rem;
}

.navigation__logo {}

.navigation__logo__media {

}

.navigation__logo__media__image {

}

.navigation__menu {}

.navigation__menu__list {
  margin-left: 10rem;

  :hover {
    color: $color-silver-chalice;
  }

  @include media ('<=phone') {
    display: none;
  }
}

.navigation__menu__list__link {
  margin-right: 5rem;
}

