.carousel {

}

.carousel__wrapper {

}

.carousel__content {
  display: flex;
  max-height: 44.8rem;
  max-width: 133.2rem;
  margin: auto;
  margin-top: 4rem;
  // rotate: -1deg;

  @include media ('<=phone') {
    min-height: 20.8rem;
    min-width: 61.8rem;
  }
}

.carousel__media {
  max-width: 32.1rem;
  max-height: 44.6rem;
  margin-right: 1.5rem;


  @include media ('<=phone') {
    min-width: 14.9rem;
    min-height: 20.7rem;
  }
}

.carousel__image {
  @extend %cover;

  position: relative;
  object-fit: cover;
}
