%title-80 {
  font-family: Tinos, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1.3;
}

%explore-title {
  font-family: Tinos, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .5px;
}
