.casting {

}

.casting__wrapper {
  @extend %mg-40;

  margin-top: 2rem;
}

.casting__title {
  text-transform: uppercase;
  margin: 4rem;
  text-align: center;
}

.casting__warning {
  margin-bottom: 2rem;
}

form {
  max-width: 78.5rem;
  max-height: 50rem;
  margin: 1rem auto auto auto;
  justify-content: center;
}

.casting__form__labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  max-width: 72.5rem;

  label {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 30rem;
    text-transform: uppercase;

    input {
      margin-top: 0.5rem;
      height: 3rem;
    }
  }
}

.casting__form__container__btn {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.casting__form__btn {
  max-width: 15rem;
  max-height: 4rem;
}
