.main__explore {
  @extend %space-y;

  background: $color-gallery;
  color : #000;
}

.main__explore__content {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 119.5rem;
  max-height: 61.1rem;

  @include media ('<=phone') {
    width: 35.1rem;
    height: 51.1rem;
    display: flex;
    flex-direction: column;
  }
}

.main__explore__content__woman {
  display: flex;
  justify-content: flex-end;
  max-height: 61.1rem;
  max-width: 69.8rem;

  @include media ('<=phone') {
    width: 34.5rem;
    height: 24.2rem;
  }
}

.main__explore__woman__navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-height: 16.2rem;
  max-width: 19.5rem;
  padding-right: 2rem;

  @include media ('<=phone') {
    width: 10.7rem;
    height: 12.2rem;
  }
}

.main__explore__woman__title {
  @extend %explore-title;

  margin-bottom: 3.3rem;

  @include media ('<=phone') {
    font-size: 3rem;
  }
}

.main__explore__woman__link {
  max-width: 12.8rem;
  max-height: 8.3rem;

  @include media ('<=phone') {
    font-size: 2.5rem;
    min-width: 11.7rem;
  }
}

.main__explore__woman_media {
  // max-width: 55.1rem;
  // max-height: 61.1rem;
  max-width: 46.7rem;
  max-height: 42.1rem;

  @include media ('<=phone') {
    max-width: 21.8rem;
    max-height: 24.2rem;
    margin-bottom: 2.5rem;
  }
}
.main__explore__woman__media__image {
  @extend %cover;

  object-fit: cover;
  position: relative;
}

.main__explore__content__man {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-height: 61.1rem;
  max-width: 69.8rem;

  @include media ('<=phone') {
    width: 34.5rem;
    height: 24.2rem;
  }
}

.main__explore__man__navigation {
  display: flex;
  flex-direction: column;
  width: 12.8rem;
  padding-left: 2rem;


  @include media ('<=phone') {
    width: 10.7rem;
    height: 12.2rem;
  }
}

.main__explore__man__title {
  @extend %explore-title;

  margin-bottom: 3.3rem;

  @include media ('<=phone') {
    font-size: 3rem;
  }
}

.main__explore__man__link {
  max-width: 12.8rem;
  max-height: 8.3rem;

  @include media ('<=phone') {
    font-size: 2.5rem;
    min-width: 11.7rem;
  }
}

.main__explore__man_media {
  // max-width: 55.1rem;
  // max-height: 61.1rem;
  max-width: 46.7rem;
  max-height: 42.1rem;

  @include media ('<=phone') {
    max-width: 21.8rem;
    max-height: 24.2rem;
  }
}

.main__explore__man__media__image {
  @extend %cover;

  object-fit: cover;
  position: relative;
}
