.main__informations {
  @extend %space-y;

  background: $color-gallery;
  color: #000
}
.main__informations__content {

}
.main__informations__description {

}

.main__informations__description__text {
  margin: auto;
  max-height: 24.3rem;
  max-width: 89.6rem;

  @include media ('<=phone') {
    font-size: 2rem;
  }
}
