.home__introduction {
  @extend %space-y;
  @extend %mg-40;
}

.home__introduction__content {
  display: flex;
  justify-content: space-between;
  max-height: 67.7rem;
  max-width: 131.6rem;
}

.home__introduction__content__text {
  margin-left: 4.4rem;
  margin-top: 10.3rem;
  max-height: 47.8rem;
  max-width: 76.6rem;
}

.home__introduction__title {
  @extend %title-80;

  max-height: 33rem;
  max-width: 76.6rem;
  position: absolute;
  z-index: 1;

  @include media ('<=phone') {
    min-width: 27.4rem;
    min-height: 13.5rem;
    font-size: 6rem;
    top: 20rem;
  }
}

.home__introduction__label {
  @extend %description-20;

  bottom: -8.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  max-height: 9rem ;
  max-width: 44.7rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;

  @include media ('<=phone') {
    min-width: 35.0rem;
    min-height: 6rem;
    top: 48rem;
  }
}


.home__introduction__content__media {
  max-width: 101.5rem;
  max-height: 67.7rem;

  @include media ('<=phone') {
    min-width: 25rem;
    min-height: 25rem;
  }
}

.home__introduction__content__image {
  @extend %cover;

  position: relative;
  transform: rotate(180deg);
}
