.main__presentation {
  @extend %space-y;
}

.main__presentation__content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-height: 73.6rem;
  max-width: 118.7rem;

  @include media ('<=phone') {
    min-height: 60.2rem;
    min-width: 39.3rem;
    // min-height: 35.2rem;
    // min-width: 37rem;
  }
}

.main__presentation__content__text {
  max-height: 46rem;
  max-width: 55rem;
  border-top: solid white 2px;
  padding-top: 10rem;

  @include media ('<=phone') {
    min-height: 35.2rem;
    min-width: 30.7rem;
  }
}

.main__presentation__content__title {
  margin-bottom: 4rem;
}

.main__presentation__content__paragraph {

  @include media ('<=phone') {
    min-height: 35.2rem;
    min-width: 16.4rem;
    font-size: 2rem;
  }
}

.main__presentation__content__media {
  max-height: 63.4rem;
  max-width: 42.3rem;
  transform: rotate(-2deg);

  @include media ('<=phone') {
    max-height: 39.1rem;
    max-width: 29.4rem;
    // max-height: 29.1rem;
    // max-width: 19.4rem;
    margin: auto auto 5rem auto;
  }
}

.main__presentation__content__media__image {
  @extend %cover;

  position: relative;
}
