.details {

}

.details__wrapper {

}

.details__header {

}

.details__main {
  margin-top: 5rem;
}

.details__content {
  max-height: 48.4rem;
  max-width: 123.4rem;
  margin: auto;
}

.details__person {
  display: flex;

  @include media ('<=phone') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.details__content__left {
  max-height: 48.4rem;
  max-width: 47.2rem;
  margin-right: 9.3rem;

  @include media ('<=phone') {
    margin: auto;
  }
}

.details__person__name {
  max-height: 3.3rem;
  max-width: 15.3rem;
  text-align: center;
  margin: auto auto 4.6rem auto;

  @include media ('<=phone') {
    margin-bottom: 6rem;
    font-size: 2.3rem;
    max-width: 20rem;
  }
}

.details__person__experiences {
  max-height: 40.5rem;
  max-width: 47.2rem;

  @include media ('<=phone') {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
}

.details__person__experiences__item {
  max-height: 4.4rem;
  max-width: 47.2rem;
  margin-bottom: 2rem;

  @include media ('<=phone') {
    margin-bottom: 4rem;

  }
}

.details__content__mid {
  margin-right: 15.6rem;

  @include media ('<=phone') {
    margin: auto;
  }
}

.details__person__media {
  max-height: 48.4rem;
  max-width: 32.2rem;
}

.details__person__media__image {
  @extend %cover;

  position: relative;
}

.details__content__right {
  max-height: 42.4rem;
  max-width: 21.8rem;

  @include media ('<=phone') {
    margin: auto;
  }
}

.details__person__details {
  display: flex;
  margin-top: 3rem;

  @include media ('<=phone') {
    font-size: 2.3rem;
  }
}

.details__persons__details__name {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.details__persons__spacing {
  margin-bottom: 1.8rem;
  font-family: Tinos, 'sans-serif' ;
}

.details__persons__details__value {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.details__footer {

}
