
.models {

}

.models__wrapper {

}

.models__header {

}

.models__navigation {
  margin-bottom: 3rem;
}

.models__title {
  max-width: 14.5rem;
  margin: 9rem auto 7.4rem auto;
  text-align: center;
  text-transform: uppercase;
}

.models__content {
  margin: auto 4rem;
}

.models__grid__position {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include media ('<=phone') {
    grid-template-columns: repeat(2, 1fr);
  }
}

.models__navigation {

  a {
    margin-right: 3rem;
  }
}

.navigation__section__all {

}

.navigation__section__homme {

}

.navigation__section__femme {

}

.models__fetching {

}

