
.models__cards {

}

.models__cards__wrapper {

}

.models__cards__map {

}

.models__cards__media {
  height: 47rem;
  width: 31.4rem;
}

.models__cards__media__image {
  @extend %cover;

  position: relative;
  object-fit: cover;
}

.models__cards__name {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

// Cette classe n'existe pas, elle provient du fetch. Utiliser la Div pour arranger les cards.
// .models__fetching:first-child {

//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }

// HOVER EFFECT ⬇️
.details__persons__hover__details {
  display: flex;
}

.models__cards__media {
  color: #fff;
  font-family: Tinos, 'sans-serif';
  font-size: 1.8rem;
}

.models__cards__hover__image {
  height: inherit;
  width: inherit;
  background-size: cover;
  object-fit: cover;
}

// .models__cards__media:nth-child(1) {

//     filter: brightness(50%);

// }


.models__cards__hover__content {
  max-height: 35.8rem;
  max-width: 21.8rem;
  margin: auto;
}

.models__cards__hover__title {
  padding-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.models__cards__hover__value {
  display: flex;
  font-style: italic;
  justify-content: space-between;
  max-height: 29.9rem;
  max-width: 21.8rem;
}

.models__cards__hover__name,
.models__cards__hover__details {
  display: flex;
  flex-direction: column;
}

.models__cards__hover__item {
  margin-bottom: 1.8rem;
}
