*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440 * 10);

  line-height: 1;

  @include media ('<=phone') {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  @extend %description-16;

  // font-family: $ ;

  @include media ('<=phone') {
    font-size: 15px;
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  // @extend %hover-link;

  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}
