@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Medium.woff2') format('woff2'),
      url('../../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('../../fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Light.woff2') format('woff2'),
      url('../../fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('../../fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../../fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinos';
  src: url('../../fonts/Tinos-Italic.woff2') format('woff2'),
      url('../../fonts/Tinos-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tinos';
  src: url('../../fonts/Tinos-Bold.woff2') format('woff2'),
      url('../../fonts/Tinos-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinos';
  src: url('../../fonts/Tinos-BoldItalic.woff2') format('woff2'),
      url('../../fonts/Tinos-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../../fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinos';
  src: url('../../fonts/Tinos-Regular.woff2') format('woff2'),
      url('../../fonts/Tinos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
